.all-jobs-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.jobs-left-container {
  max-width: 280px;
  min-width: 240px;
  width: 80%;
  margin-right: 40px;
  background-color: transparent;
  align-self: flex-start;
}

.jobs-search {
  background-color: transparent;
  border: 1px solid #7e858e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  width: 400px;
  margin-left: 50px;
}

.search {
  background-color: transparent;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
  color: #fff;
}

.search-icon {
  color: #475569;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.seperator {
  margin: 20px 0;
}

.ul-elements {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.products-error-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-left: 30px;
  width: 70%;
  padding-bottom: 0;
}

.no-products-description {
  margin-top: 12px;
  font-size: 18px;
  width: 60%;
  max-width: 466px;
  line-height: 1.3;
}

.no-products-heading {
  margin-top: 32px;
  font-size: 24px;
}

.no-products-img {
  width: 459px;
  height: 315px;
}
